<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/assets/style.css" rel="stylesheet" type="text/css" />
    <title>Review</title>
</head>

<body>
    <h1>Find Movie Reviews</h1>
    <form method="post" action="/findReview">
        <fieldset>
            <strong>Movie: </strong><input type="text" name="movie" id="movie"><br><br>
        </fieldset>
        <br>
        <input type="reset" value="Reset">
        <input type="submit" value="Submit Request">
        <hr>
    </form>
    <a href="/">HOME</a>
</body>
</html>