<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/assets/style.css" rel="stylesheet" type="text/css" />
    <title>Movie Reviews</title>
</head>

<body>
    <h1>Welcome to Movie Reviews</h1>
    <h2>Reviewer</h2>
    <li>Want to review a movie? <a href="/findMovie">Click here!</a></li>
    <br><hr>
    <h2>Watcher</h2>
    <li>Interested in a movie? <a href="/findReview">Check its reviews!</a></li>
    <li>Want to know what people like? <a href="/rating">Select a movie by its rating!</a></li>
    <li><a href="/remove">Click here to remove all reviews</a></li>
    <br><hr>
</body>
</html>