<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/assets/style.css" rel="stylesheet" type="text/css" />
    <title>Removed</title>
</head>

<body>
    <h1>Removing of All Reviews</h1>
    <p>All reviews have been removed from the database. Number of reviews removed: <%- numOfApplications %></p>
    <br><br>
    <a href="/">HOME</a>
</body>
</html>