<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/assets/style.css" rel="stylesheet" type="text/css" />
    <title>Removing All Reviews</title>
</head>

<body>
    <h1>Removing All Reviews</h1>
    <form method="post" action="/processRemove">
        <input type="submit" value="Remove all reviews">
    </form>
    <hr><br>
    <a href="/">HOME</a>
</body>
</html>